<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="karl_test_post_listing_data_source" xsi:type="string">Karl\Test\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Namespace\Modulename\Model\Resource\Modulename\Grid\Collection">
    <arguments>
        <argument name="mainTable" xsi:type="string">catalog_product_entity</argument>
        <argument name="eventPrefix" xsi:type="string">karl_test_post_grid_collection</argument>
        <argument name="eventObject" xsi:type="string">karl_test_post_grid_collection</argument>
        <argument name="resourceModel" xsi:type="string">Karl\Test\Model\ResourceModel\Post</argument>
    </arguments>
</type>
</config>